{% include "base.html.twig" %}

{% include "partials/header.html.twig" %}

<main class="main shop mt-lg-4">
	<div class="page-header" style="background-image: url('{{ asset('assets/images/demos/demo9/page-header.jpg') }}'); background-color: #E4EAEA;">
		<h1 class="page-title ls-m font-weight-bold">Riode Shop</h1>
		<h3 class="page-subtitle text-uppercase text-white font-weight-normal">{{ products|length }}
			Produit(s)</h3>
	</div>
	<!-- End PageHeader -->
	<div class="page-content mb-10 pb-3">
		<nav class="breadcrumb-nav">
			<div class="container">
				<ul class="breadcrumb">
					<li>
						<a href="demo9.html">
							<i class="d-icon-home"></i>
						</a>
					</li>
					<li class="active">Riode Shop</li>
				</ul>
			</div>
		</nav>
		<div class="container">

			<div class="select-items">
				<a href="#" class="filter-clean text-primary">Clean All</a>
			</div>
				{% for product in products %}
					{# Added Bootstrap col classes for responsive: 2 cols mobile, 3 cols tablet, 4 cols desktop #}
					<div class="col-12 col-sm-6 col-md-4 col-lg-3 product-wrap">
						<div class="product text-center">
							<figure class="product-media">
								<a href="{{ path('home.show', {'id': product.id}) }}">
									{% for image in product.productImages|slice(0, 2) %}
										<img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="product" width="300" height="338">
									{% endfor %}
								</a>
								<div class="product-label-group">
									<label class="product-label label-new">new</label>
								</div>
								<div class="product-action-vertical">
									<a href="#" class="btn-product-icon btn-cart add-to-cart" data-id="{{ product.id }}" data-toggle="modal" data-target="#addCartModal" title="Add to cart">
										<i class="d-icon-bag"></i>
									</a>
									<a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist">
										<i class="d-icon-heart"></i>
									</a>
								</div>
								<div class="product-action">
									<a href="#" class="btn-product btn-quickview" title="Quick View">Quick View</a>
								</div>
							</figure>
							<div class="product-details">
								<div class="product-cat">
									<a href="demo9-shop.html">{{ product.category }}</a>
								</div>
								<h3 class="product-name">
									<a href="{{ path('home.show', {id: product.id})}}">{{ product.title }}</a>
								</h3>
								<div class="product-price">
									<ins class="new-price">${{product.promoPrice}}</ins>
									<del class="old-price">${{product.price}}</del>
								</div>
								<div class="ratings-container">
									<div class="ratings-full">
										<span class="ratings" style="width:100%"></span>
										<span class="tooltiptext tooltip-top"></span>
									</div>
									<a href="demo9-product.html" class="rating-reviews">( 6 reviews )</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			
		</div>
	</div>

</main>
{% include "partials/footer.html.twig" %}
