<header class="header">
	<div class="header-top">
		<div class="container">
			<div class="header-left">
				<div class="social-links inline-links d-lg-show">
					<a href="#" title="social-link" class="social-link social-twitter fab fa-twitter"></a>
					<a href="#" title="social-link" class="social-link social-linkedin fab fa-linkedin-in"></a>
					<a href="#" title="social-link" class="social-link social-facebook fab fa-facebook-f"></a>
					<a href="#" title="social-link" class="social-link social-pinterest fab fa-pinterest-p"></a>
				</div>
				<p class="welcome-msg">Welcome to Riode store!</p>
			</div>
			<div class="header-right">
				<div class="dropdown">
					<a href="#currency">USD</a>
					<ul class="dropdown-box">
						<li>
							<a href="#USD">USD</a>
						</li>
						<li>
							<a href="#EUR">EUR</a>
						</li>
					</ul>
				</div>
				<!-- End DropDown Menu -->
				<div class="dropdown ml-4">
					<a href="#language">ENG</a>
					<ul class="dropdown-box">
						<li>
							<a href="#USD">ENG</a>
						</li>
						<li>
							<a href="#EUR">FRH</a>
						</li>
					</ul>
				</div>
				<!-- End DropDown Menu -->
				<span class="divider"></span>
				<a href="contact-us.html" class="contact d-lg-show">
					<i class="d-icon-map"></i>Contact</a>
				{% if app.user %}
					<a href="#" class="d-md-show">
						<i class="d-icon-user"></i>
						Bonjour,
						{{ app.user.username }}
					</a>
					<span class="delimiter">/</span>
					<a href="{{ path('app_logout') }}" class="d-md-show ml-0">
						<i class="d-icon-logout"></i>Déconnexion
					</a>
				{% else %}
					<a href="{{ path('app_login') }}" class="link-to-tab d-md-show">
						<i class="d-icon-user"></i>Sign in
					</a>
					<span class="delimiter">/</span>
					<a href="{{ path('app_register') }}" class="link-to-tab d-md-show ml-0">
						Register
					</a>
				{% endif %}
				<!-- End of Login -->
			</div>
		</div>
	</div>
	<!-- End HeaderTop -->
	<div class="header-middle">
		<div class="container">
			<div class="header-left">
				<a href="#" class="mobile-menu-toggle">
					<i class="d-icon-bars2"></i>
				</a>
				<!-- End Logo -->

				<div class="header-search hs-simple d-lg-show">
					<form action="#" class="input-wrapper">
						<input type="text" class="form-control" name="search" autocomplete="off" placeholder="Search..." required/>
						<button class="btn btn-search" type="submit" title="submit-button">
							<i class="d-icon-search"></i>
						</button>
					</form>
				</div>
				<!-- End Header Search -->
			</div>
			<div class="header-center">
				<a href="demo9.html" class="logo mr-0">
					<img src="{{asset('/assets/images/demos/demo9/logo.png')}}" alt="logo" width="150" height="42"/>
				</a>
			</div>
			<div class="header-right flex-1 justify-content-end">
				<a href="tel:#" class="icon-box icon-box-side">
					<div class="icon-box-icon mr-0 mr-lg-2">
						<i class="d-icon-phone"></i>
					</div>
					<div class="icon-box-content d-lg-show">
						<h4 class="icon-box-title">Call Us Now:</h4>
						<p>0(800) 123-456</p>
					</div>
				</a>
				<span class="divider"></span>
				<div class="dropdown wishlist wishlist-dropdown off-canvas">
					<a href="wishlist.html" class="wishlist-toggle" title="wishlist">
						<i class="d-icon-heart"></i>
					</a>
					<div class="canvas-overlay"></div>
					<!-- End Wishlist Toggle -->
					<div class="dropdown-box scrollable">
						<div class="canvas-header">
							<h4 class="canvas-title">wishlist</h4>
							<a href="#" class="btn btn-dark btn-link btn-icon-right btn-close">close<i class="d-icon-arrow-right"></i>
								<span class="sr-only">wishlist</span>
							</a>
						</div>
						<div class="products scrollable" id="my-wishlist">

							<!-- End of wishlist Product -->
						</div>
						<a href="wishlist.html" class="btn btn-dark wishlist-btn mt-4">
							<span>Go To
								                                        Wishlist</span>
						</a>
						<!-- End of Products  -->
					</div>
					<!-- End Dropdown Box -->
				</div>
				<span class="divider"></span>
				<div class="dropdown cart-dropdown type2 off-canvas mr-0 mr-lg-2">
					<a href="#" class="cart-toggle label-block link">
						<div class="cart-label d-lg-show">
							<span class="cart-name">Shopping Cart:</span>
							<span class="cart-price">$0.00</span>
						</div>
						<i class="d-icon-bag">
							<span class="cart-count">0</span>
						</i>
					</a>
					<div class="canvas-overlay"></div>
					<!-- End Cart Toggle -->
					<div class="dropdown-box">
						<div class="canvas-header">
							<h4 class="canvas-title">Shopping Cart</h4>
							<a href="#" class="btn btn-dark btn-link btn-icon-right btn-close">close<i class="d-icon-arrow-right"></i>
								<span class="sr-only">Cart</span>
							</a>
						</div>
						<div class="products scrollable" id='my-cart'>
						
						
						</div>
						<!-- End of Products  -->
						<div class="cart-total">
							<label>Subtotal:</label>
							<span class="price">${{ total }}</span>
						</div>
						<!-- End of Cart Total -->
						<div class="cart-action">
							<a href="{{path('cart.show')}}" class="btn btn-dark btn-link">View Cart</a>
							<a href="checkout.html" class="btn btn-dark">
								<span>Go To Checkout</span>
							</a>
						</div>
						<!-- End of Cart Action -->
					</div>
					<!-- End Dropdown Box -->
				</div>
			</div>
		</div>
	</div>

	<div class="header-bottom has-center sticky-header fix-top sticky-content d-lg-show">
		<div class="container">
			<div class="inner-wrap">
				<div class="header-left"></div>
				<div class="header-center">
					<nav class="main-nav">
						<ul class="menu">
							<li class="active">
								<a href="demo9.html">Home</a>
							</li>
							<li>
								<a href="demo9-shop.html">Categories</a>
								<div class="megamenu">
									<div class="row">
										<div class="col-6 col-sm-4 col-md-4 col-lg-3">
											<h4 class="menu-title">Catégories</h4>
											<ul>
												{% for category in categories %}
													<li>
														<a href="#">{{ category.name }}</a>
													</li>
												{% endfor %}
											</ul>
										</div>
										<div class="col-6 col-sm-4 col-md-4 col-lg-3 menu-banner menu-banner1 banner banner-fixed">
											<figure>
												<img src="{{asset('/assets/images/menu/banner-1.jpg')}}" alt="Menu banner" width="221" height="330"/>
											</figure>
											<div class="banner-content y-50">
												<h4 class="banner-subtitle font-weight-bold text-primary ls-m">
													Sale.
												</h4>
												<h3 class="banner-title font-weight-bold">
													<span class="text-uppercase">Up to</span>70% Off</h3>
												<a href="{{ path('home.shop') }}" class="btn btn-link btn-underline">shop
													                                                            now<i class="d-icon-arrow-right"></i>
												</a>
											</div>
										</div>
										<!-- End Megamenu -->
									</div>
								</div>
							</li>
							<li>
								<a href="{{ path('home.shop') }}">Produits</a>
							</li>
							<li>
								<a href="#">A Propos</a>
							</li>
							<li>
								<a href="#">Contact</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="header-right"></div>
			</div>
		</div>
	</div>
</header>
