{% extends "partials/admin/base_admin.html.twig" %}

{% block body %}
    {% include "partials/admin/sidebar.html.twig" %}

    <div id="layoutSidenav_content">
		<main>
			<div class="container-fluid px-4">
				<h1 class="mt-4">Produits</h1>
				<ol class="breadcrumb mb-4">
					<li class="breadcrumb-item active">Listing</li>
				</ol>
				<div class="d-flex align-items-center justify-content-start my-3">
                    <a href="{{ path('admin.product.create') }}" class="btn btn-primary d-flex align-items-center">
                        <i class="fas fa-plus me-2"></i> Ajouter un nouveau produit
                    </a>
                </div>

                <div class="card mb-4">
					<div class="card-header">
						<i class="fas fa-table me-1"></i>
						Catégories
					</div>
					<div class="card-body">
						<table id="datatablesSimple">
							<thead>
								<tr>
									<th>Image</th>
									<th>Titre</th>
									<th>Prix</th>
									<th>Prix Promo</th>
									<th>category</th>
									<th>Action</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>Image</th>
									<th>Titre</th>
									<th>Prix</th>
									<th>Prix Promo</th>
									<th>category</th>
									<th>Action</th>
								</tr>
							</tfoot>
							<tbody>
                                {% for product in products %}
                                    <tr>
                                        <td>
											{% for image in product.productImages|slice(0, 1) %}
												<img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="{{ product.title }}" style="width: 50px; height: auto;">
											{% endfor %}
										</td>
                                        <td>{{ product.title }}</td>
                                        <td>{{ product.price }} €</td>   
                                        <td>{{ product.promoPrice }} €</td> 
                                        <td>{{ product.category }}</td>   
                                        <td>
                                            <div class="d-flex gap-1">
                                                <a class="btn btn-primary" href="{{path('admin.product.edit', {id: product.id})}}">Editer</a>
                                                <form action="{{path('admin.product.delete', {id: product.id})}}" method="post">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <button type="submit" class="btn btn-danger">Supprimer</button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>    
                                {% endfor %}
                            </tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</main>
							
{% endblock %}