<div class="row">
	<div class="col-xl-3 col-md-6">
		<div class="card bg-primary text-white mb-4">
			<div class="card-body">{{ products|length }} Produit(s)</div>
			<div class="card-footer d-flex align-items-center justify-content-between">
				<a class="small text-white stretched-link" href="{{ path('admin.product.index') }}">View Details</a>
				<div class="small text-white">
					<i class="fas fa-angle-right"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-md-6">
		<div class="card bg-warning text-white mb-4">
			<div class="card-body">{{ orders|length }} Commande(s)</div>
			<div class="card-footer d-flex align-items-center justify-content-between">
				<a class="small text-white stretched-link" href="{{ path('admin.orders') }}">View Details</a>
				<div class="small text-white">
					<i class="fas fa-angle-right"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-md-6">
		<div class="card bg-success text-white mb-4">
			<div class="card-body">{{ categories|length }} Catégorie(s)</div>
			<div class="card-footer d-flex align-items-center justify-content-between">
				<a class="small text-white stretched-link" href="{{ path('admin.category.index')}}">View Details</a>
				<div class="small text-white">
					<i class="fas fa-angle-right"></i>
				</div>
			</div>
		</div>
	</div>
	{# <div class="col-xl-3 col-md-6">
		<div class="card bg-danger text-white mb-4">
			<div class="card-body">Danger Card</div>
			<div class="card-footer d-flex align-items-center justify-content-between">
				<a class="small text-white stretched-link" href="#">View Details</a>
				<div class="small text-white">
					<i class="fas fa-angle-right"></i>
				</div>
			</div>
		</div>
	</div> #}
</div>
