<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

		<title>{% block title %}Riode - Ultimate eCommerce Template{% endblock %}</title>

		<meta name="keywords" content="HTML5 Template"/>
		<meta name="description" content="Riode - Ultimate eCommerce Template">
		<meta
		name="author" content="D-THEMES">

		<!-- Favicon -->
		<link
		rel="icon" type="image/png" href="{{asset('/assets/images/icons/favicon.png')}}">
		<!-- Preload Font -->
		<link rel="preload" href="{{asset('/assets/fonts/riode.ttf?5gap68')}}" as="font" type="font/woff2" crossorigin="anonymous">
		<link rel="preload" href="{{asset('/assets/vendor/fontawesome-free/webfonts/fa-solid-900.woff2')}}" as="font" type="font/woff2" crossorigin="anonymous">
		<link rel="preload" href="{{asset('/assets/vendor/fontawesome-free/webfonts/fa-brands-400.woff2')}}" as="font" type="font/woff2" crossorigin="anonymous">
		<script>
                        WebFontConfig = {
            google: {
            families: ['Poppins:400,500,600,700,800']
            }
            };
            (function (d) {
            var wf = d.createElement('script'),
            s = d.scripts[0];
            wf.src = '/public/assets/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
            })(document);
		</script>


		<link rel="stylesheet" type="text/css" href="{{asset('/assets/vendor/fontawesome-free/css/all.min.css')}}">
		<link
		rel="stylesheet" type="text/css" href="{{asset('/assets/vendor/animate/animate.min.css')}}">

		<!-- Plugins CSS File -->
		<link rel="stylesheet" type="text/css" href="{{asset('/assets/vendor/magnific-popup/magnific-popup.min.css')}}">
		<link rel="stylesheet" type="text/css" href="{{asset('/assets/vendor/owl-carousel/owl.carousel.min.css')}}">

		<link
		rel="stylesheet" type="text/css" href="{{asset('/assets/vendor/sticky-icon/stickyicon.css')}}">

		<!-- Main CSS File -->
		<link rel="stylesheet" type="text/css" href="{{asset('/assets/css/demo9.min.css')}}">
		{% block css %}{% endblock %}
		<link rel="stylesheet" type="text/css" href="{{asset('/assets/css/custom.css')}}">
	</head>
	<body class="{% block bodyClass %}home{% endblock %}">
        <div class="page-wrapper">
		{% block body %}{% endblock %}
		<!-- Scroll Top -->
		<a id="scroll-top" href="#top" title="Top" role="button" class="scroll-top">
			<i class="d-icon-arrow-up"></i>
		</a>

		<!-- MobileMenu -->
		<div class="mobile-menu-wrapper">
			<div class="mobile-menu-overlay"></div>
			<!-- End Overlay -->
			<a class="mobile-menu-close" href="#">
				<i class="d-icon-times"></i>
			</a>
			<!-- End CloseButton -->
			<div class="mobile-menu-container scrollable">
				<form action="#" class="input-wrapper">
					<input type="text" class="form-control" name="search" autocomplete="off" placeholder="Search your keyword..." required/>
					<button class="btn btn-search" type="submit" title="submit-button">
						<i class="d-icon-search"></i>
					</button>
				</form>
				<!-- End Search Form -->
				<ul class="mobile-menu mmenu-anim">
					<li>
						<a href="demo9.html">Home</a>
					</li>
					<li>
						<a href="shop.html">Categories</a>
						<ul>
							<li>
								<a href="#">
									Categories
								</a>
								<ul>
									{% for category in categories %}
										<li><a href="shop-classic-filter.html">Classic Filter</a></li>
									{% endfor %}
								</ul>
						</ul>
					</li>
					<li>
						<a href="{{ path('home.shop') }}">Produits</a>
					</li>
					<li>
						<a href="#">A Propos</a>
					</li>
					<li>
						<a href="element.html">Contact</a>
					</li>
				</ul>
				<!-- End MobileMenu -->
			</div>
		</div>

		<!-- Plugins JS File -->
		<script src="{{asset('/assets/vendor/jquery/jquery.min.js')}}"></script>
		<script src="{{asset('/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js')}}"></script>
		<script src="{{asset('/assets/vendor/elevatezoom/jquery.elevatezoom.min.js')}}"></script>
		<script src="{{asset('/assets/vendor/magnific-popup/jquery.magnific-popup.min.js')}}"></script>

		<script src="{{asset('/assets/vendor/owl-carousel/owl.carousel.min.js')}}"></script>
		<!-- Main JS File -->
		<script src="{{asset('/assets/js/main.min.js')}}"></script>
		<script src="{{asset('/assets/js/cart.js')}}"></script>

	</body>
</html>
